@import "../../../styles/colors";

.item {
    display: block;
    position: relative;
    min-height: 325px;
    border-radius: 5px;
    background-color: $bgColorLight;
    box-shadow: 0 0 0 1px rgb(70, 70, 70);
    opacity: 1;
    transition: 300ms ease-in;

    &:hover {
        opacity: 0.85;
        box-shadow: 0 0 0 2px rgb(70, 70, 70);
    }

    &-image {
        img {
            width: 100%;
            object-fit: contain;
            border-radius: 5px;
        }
    }

    &-rating {
        position: absolute;
        display: flex;
        align-items: center;
        top: 10px;
        left: 10px;
        background-color: $bgColorLight;
        border-radius: 5px;
        padding: 5px 10px;

        .app-icon {
            margin-right: 5px;
            color: #d4af37;
        }
    }
    &-title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        height: 50px;
        margin: 0.5rem;
    }
}
