@import "../../../styles/colors";

:host ::ng-deep {
    .desc {
        display: none;
    }
}

:host ::ng-deep {
    .p-tabview-nav {
        justify-content: center;
        font-size: 1.6rem;

        li {
            .p-tabview-nav-link {
                background-color: $bgColor;
            }

            &.p-highlight .p-tabview-nav-link {
                background-color: $bgColor;
                border-color: #dc1a28;
                color: #dc1a28;

                &:focus {
                    box-shadow: inset 0 0 0 1px #dc1a28;
                }
            }
        }
    }
}

.grid {
    display: flex;
    align-items: center;
}
.poster {
    max-width: 100%;
    border-radius: 4px;
}

.tagline,
.overview,
.genre {
    font-size: 1.6rem;
}

.tagline {
    font-weight: 600;
}

.overview {
    font-size: 1.6rem;
    line-height: 1.5;
}

.genre-wrapper {
    display: flex;
    gap: 15px;
}

.details-wrapper {
    font-size: 1.6rem;
}
