<ng-container *ngIf="movie">
    <slider [items]="[movie]" [isBanner]="true"></slider>

    <p-tabView>
        <p-tabPanel header="Overview">
            <div class="grid">
                <div class="col-12 md:col-3 lg:col-3">
                    <img class="poster" [src]="imagesSizes.medium + movie.poster_path" [alt]="movie.title">
                </div>

                <div class="col-12 md:col-9 lg:col-9">

                    <div class="div">
                        <h2>{{movie.title}} ({{movie.release_date | date: "yyyy"}})</h2>

                        <div class="genre-wrapper">
                            <ng-container *ngFor="let genre of movie.genres">
                                <p class="genre">{{genre.name}}</p>
                            </ng-container>
                        </div>

                    </div>
                    <p class="tagline">{{movie.tagline}}
                    <p>
                    <p class="overview">{{movie.overview}}</p>
                </div>

            </div>

        </p-tabPanel>
        <p-tabPanel header="Details">
            <div class="details-wrapper">
                <p>Budget: {{movie.budget | currency}}</p>
                <p>Original Language: {{movie.original_language | uppercase}}</p>
                <p>Popularity: {{movie.popularity}}</p>
                <p>Release date: {{movie.release_date | date: 'dd/MM/yyyy'}}</p>
                <p>Country: </p> <span *ngFor="let country of movie.production_countries">{{country.name}}</span>
                <p>Runtime: {{movie.runtime}} min</p>
                <p>Studios: </p> <span *ngFor="let company of movie.production_companies">{{company.name}}</span>
                <p>Status: {{movie.status}}</p>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Videos">
            <pre>{{movieVideos | json}} </pre>
        </p-tabPanel>
        <p-tabPanel header="Photos">

        </p-tabPanel>
    </p-tabView>


</ng-container>