@import "../../../styles/colors";

:host ::ng-deep {
    .desc {
        display: none;
    }
}

:host ::ng-deep {
    .p-tabview
        .p-tabview-nav
        li:not(.p-highlight):not(.p-disabled):hover
        .p-tabview-nav-link {
        border-color: #dc1a28;
    }

    .p-tabview-nav {
        justify-content: center;
        font-size: 1.6rem;

        li {
            .p-tabview-nav-link {
                background-color: $bgColor;
            }

            &.p-highlight .p-tabview-nav-link {
                background-color: $bgColor;
                border-color: #dc1a28;
                color: #dc1a28;

                &:focus {
                    box-shadow: inset 0 0 0 1px #dc1a28;
                }
            }
        }
    }
}

.grid {
    display: flex;
    align-items: center;
}
.poster {
    max-width: 100%;
    border-radius: 5px;
}

.tagline,
.overview,
.genre {
    font-size: 1.6rem;
}

.tagline {
    font-weight: 600;
}

.overview {
    font-size: 1.6rem;
    line-height: 1.5;
}

.genre-wrapper {
    display: flex;
    gap: 15px;
}

.details-wrapper {
    font-size: 1.6rem;
}

.trailers {
    justify-content: center;
    padding: 80px 0;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.actors {
    position: relative;
    padding: 0.5rem;
}

.actor-profile {
    img {
        width: 100%;
        border-radius: 5px;
        position: relative;
    }
}

.casting-info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    padding: 2px 6px;
    background-color: rgba(87, 86, 86, 0.655);
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
}

.casting-info p {
    font-size: 1.6rem;
}
.casting-info span {
    font-size: 1.8rem;
    font-weight: bold;
}
